# {{ ansible_managed }}
#

{% for device in mightydok_bareos_sd_device %}

Device {
  Name = "{{ device.name }}"
  Media Type = File
  Archive Device = "{{ device.archive_device }}"
  LabelMedia = yes;                   # lets Bareos label unlabeled media
  Random Access = yes;
  AutomaticMount = yes;               # when device opened, read it
  RemovableMedia = no;
  AlwaysOpen = no;
  Description = ""
}

{% endfor %}
